{% extends 'base.html' %}

{% block titulo %}Lista de Clientes{% endblock %}

{% block conteudo %}


{% if products %}
    <ul class="list-group">
        {% for product in products %}
            <li class="list-group-item">{{product.name}}
                <p style="float: right; cursor: pointer;" class="badge bg-danger"
                    hx-delete="{% url 'delete_product' product.id %}"
                    hx-trigger="click"
                    hx-target="#list-products"
                >X</p>
            </li>

            


        {% endfor %}
    </ul>

{% else %}
    <h4> Nenhum Produto Cadastradro </h4>
{% endif %}

{% endblock conteudo %}